.app {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 20px;
}

.div-container {
  width: 320px;
}
.title{
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}
.div-inner-container{
  padding: 18px;
  border-radius: 15px;
  background-color: rgb(29, 122, 252, 0.9);
}
.btn-wrapper{
  display: flex;
  justify-content: space-between;
}
.btn-wrapper button{
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255, 0.6);
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s ease;
}
.btn-wrapper button:hover{
  color: #fff;
  transform: translateY(-2px);
}
.input-container {
  margin-bottom: 10px;
  padding: 5px;
  cursor: grab;
  display: flex;
  align-items: center;
  gap: 8px;
}
.input-container input{
  width: 100%;
  border: 0;
  padding: 5px;
  border-radius: 8px;
}
.trash{
  border: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url(../public/trash-icon.svg);
}
.trash:hover{
  opacity: 0.5;
}